<!DOCTYPE html>
<html>
    <head>
        <style>
            .container {
                overflow-y: scroll;
                scroll-snap-type: y mandatory;
            }
            .container > div {
                height: 100vh;
                scroll-snap-align: start;
            }
            .element1 {
                background-color: aqua;
            }
            .element2 {
                background-color: rgb(0, 255, 76);
            }
            .element3 {
                background-color: rgb(246, 255, 0);
            }
            .element4 {
                background-color: rgb(255, 179, 0);
            }
            .element5 {
                background-color: rgb(255, 0, 0);
            }
        </style>
    </head>
    <body>
        <div id="container" class="container">
            <div id="element1" class="element1"><h1>Yar 1</h1></div>
            <div id="element2" class="element2"><h1>Yar 2</h1></div>
            <div id="element3" class="element3"><h1>Yar 3</h1></div>
            <div id="element4" class="element4"><h1>Yar 4</h1></div>
            <div id="element5" class="element5"><h1>Yar 5</h1></div>
        </div>
    </body>
    <script>
        // document.getElementById("element3").scrollIntoView({behavior: "smooth";});
        function scroll() {
            window.scrollTo({
                top: 200,
                left: 0,
                behavior: 'smooth'
            });
        };
        function transform() {
            const div = document.getElementById("element2");
            const divs = document.getElementById("container").children;
            // div.translate(50,50);
            // div.style.display = "none";
            for (let i = 0; i < divs.length; i++) {
                if (i !== 1) {
                    divs[i].style.display = "none";
                }
            }
            div.style.left = 100;
        };
        setTimeout(transform, 1000);
    </script>
</html>