<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="javascripts/script.js"></script>
    <script src="javascripts/scrollsnap.js"></script>
    {{!-- <style>
        body {
            overflow-y: hidden;
        }
        .scene3D {
            height: 100vh;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
        }
        .scene3D > div {
            scroll-snap-align: start;
        }
    </style> --}}
</head>

<body>
    {{!-- <embed id="music" src="/sounds/It-Doesnt-Matter.mp3" loop="true" autostart="true" volume="2" width="2" height="0"> --}}
    {{!-- <audio autoplay id="music">
        <source src="/sounds/It-Doesnt-Matter.mp3">
    </audio> --}}
    <div class="navbar">
        <div class="logo">
            <p>&ensp;Into the Buffyverse</p>
        </div>
        <h3>Episode View: S1, E1: Welcome to the Hellmouth</h3>
        <img id="menu" style="height: 30px; position: fixed; right: 0; top: 0; margin-top: 22px; z-index: 11;" src="images/menuicon2.png" onclick="toggleDisplay('dropdown');">
        <div id="dropdown" class="dropdown">
            <input id="search" type="text">
            <p>About</p>
            <p>Episodes</p>
            <p>Characters</p>
            <p>Community</p>
            <p>Report</p>
            <p>FAQ</p>
            <a href="https://buffy.fandom.com/wiki/Buffy_the_Vampire_Slayer_and_Angel" target="_blank"><p>Buffy Fandom</p></a>
            <a href="https://en.wikipedia.org/wiki/Buffy_the_Vampire_Slayer" target="_blank"><p>Buffy Wikipedia</p></a>
        </div>
        <div style="display: flex; flex-direction: column;">
            <button onclick="scrollToBack()">Scroll All Up</button>
            <button onclick="scrollUp()">Scroll Up</button>
            <button onclick="scrollDown()">Scroll Down</button>
            <button onclick="scrollToFront()">Scroll All Down</button>
        </div>
    </div>
    <h1>
    <img
        class="logo"
        src="https://seeklogo.com/images/B/Buffy_the_Vampire_Slayer-logo-1E820809C0-seeklogo.com.png"
        alt="Buffy the Vampire Slayer Logo"
        />
    {{!-- Buffy the Vampire Slayer --}}
    </h1>
    <div class="viewport">
    <div class="scene3D-container">
        <div id="scene3D" class="scene3D"></div>
    </div>
    </div>
    <script>
        document.getElementById("menu").click();
        setTimeout(scrollToBack, 300);
        window.onkeydown = arrowKeyScroll;
        //document.body.addEventListener("scroll", scrollToNextCard());
    </script>
</body>
