<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="javascripts/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    {{!-- <style>
        body {
            overflow-y: hidden;
        }
        .scene3D {
            height: 100vh;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
        }
        .scene3D > div {
            scroll-snap-align: start;
        }
    </style> --}}
</head>

<body>
    {{!-- <embed id="music" src="/sounds/It-Doesnt-Matter.mp3" loop="true" autostart="true" volume="2" width="2" height="0"> --}}
    {{!-- <audio autoplay id="music">
        <source src="/sounds/It-Doesnt-Matter.mp3">
    </audio> --}}
    <div id="container" class="container">
    <div class="navbar">
        <div style="display: block;" class="logo" onclick="toggleDisplay('navbuttons');">
            <p>&ensp;Into the Buffyverse</p>
            <p id="test" style="margin-left: 300px; color: white;"></p>
        </div>
        <h3 id="title"></h3>
        <img id="menu" style="height: 30px; position: fixed; right: 0; top: 0; margin-top: 22px; z-index: 11;" src="images/menuicon2.png" onclick="toggleDisplay('dropdown');">
        <div id="dropdown" class="dropdown">
            <input id="search" type="text">
            <p>About</p>
            <p>Episodes</p>
            <p>Characters</p>
            <p>Community</p>
            <p>Report</p>
            <p>FAQ</p>
            <a href="https://buffy.fandom.com/wiki/Buffy_the_Vampire_Slayer_and_Angel" target="_blank"><p>Buffy Fandom</p></a>
            <a href="https://en.wikipedia.org/wiki/Buffy_the_Vampire_Slayer" target="_blank"><p>Buffy Wikipedia</p></a>
        </div>
        <img id="navmenu" style="height: 30px; position: fixed; left: 0; top: 0; margin-top: 32px; margin-left: 270px; z-index: 12; border: 5px solid #555;" src="images/dropdownarrow.png" onclick="toggleDisplay('navbuttons');">
        <div id="navbuttons" class="navbuttons">
            <button onclick="scrollToBack()">Scroll to Beginning</button>
            <button onclick="scrollToFront()">Scroll to End</button>
            <button onclick="scrollUp()">Scroll Backwards (&lt;)</button>
            <button onclick="scrollDown()">Scroll Forwards (&gt;)</button>
            <button onclick="scrollBackSeason()">Backwards a Season</button>
            <button onclick="scrollForwardSeason()">Forwards a Season</button>
            <button onclick="pageScrollBy()">Start Auto Scroll</button>
            <button onclick="stopScrollBy()">Stop Auto Scroll</button>
        </div>
    </div>
    <h1>
    <img
        class="logo"
        src="https://seeklogo.com/images/B/Buffy_the_Vampire_Slayer-logo-1E820809C0-seeklogo.com.png"
        alt="Buffy the Vampire Slayer Logo"
        />
    {{!-- Buffy the Vampire Slayer --}}
    </h1>
    <div class="viewport">
    <div class="scene3D-container">
        <div id="scene3D" class="scene3D"></div>
    </div>
    </div>
    </div>
    <script>
        document.getElementById("menu").click();
        // setTimeout(scrollToBack, 400);
        // setTimeout(scrollToBack, 400);
        window.onkeydown = arrowKeyScroll;
        window.onscroll = () => {
            updateCardTitleBar(); 
            cullDistantCards();
        };
        // let cards = document.getElementById("scene3D").children;
        // () => cards.forEach(card => card.style.display = "none");
        function hideCard() {
            let testCard = document.getElementById('300');
            // testCard.style.display = "none";
            testCard.style.display = "none";
        };
        function testShiftCards() {
            let cards = document.getElementsByClassName("card_inverted");
            for (let i = 0; i < cards.length; i++) {
                cards[i].style.transform = "translate(0, 50px)";
            }
        };
        function shiftCard() {
            let testCard2 = document.getElementById("300");
            // testCard2.style.top = 500;
            // testCard2.style.left = 500;
            //testCard2.style.transform = translate(0, 100);
            testCard2.style.transform = translate3d(80, 20, 20);
        };
       
        // setTimeout(hideCard, 400);
        // setTimeout(testShiftCards, 400);
        setTimeout(shiftCard, 800);
        setTimeout(scrollToBack, 800);
        // document.addEventListener("DOMMouseScroll", stopScrollBy);
        //document.body.addEventListener("scroll", scrollToNextCard());
    </script>
</body>
