<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="javascripts/script.js"></script>
</head>

<body>
    <h1>
    <img
        class="logo"
        src="https://seeklogo.com/images/B/Buffy_the_Vampire_Slayer-logo-1E820809C0-seeklogo.com.png"
        alt="Buffy the Vampire Slayer Logo"
        />
    {{!-- Buffy the Vampire Slayer --}}
    </h1>
    <div class="viewport">
    <div class="scene3D-container">
        <div class="scene3D"></div>
    </div>
    </div>
</body>