<head>
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link rel="stylesheet" href="stylesheets/cardstyle.css" />
  <link rel="stylesheet" href="stylesheets/mainstyle.css" />
  <link rel="stylesheet" href="stylesheets/navcss.css" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="javascripts/script.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"
    ></script>
</head>

  <body>


<div id="container" class="container">
      
    <div class="container" id="container">
      <div class="navbar">

        <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
        <label for="menu-icon"></label>
        <nav class="nav">
          <ul class="pt-5">
            <li><div class="glitch-wrapper">
            <div class="glitch" data-text="INTO THE BUFFYVERSE">INTO THE BUFFYVERSE</div>
          </div></li>
            <li><br></li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/character">Characters</a></li>
            <li><a href="/roadmap">Roadmap</a></li>
            <li><br></li>
            <li><a href="https://buffy.fandom.com/wiki/Buffy_the_Vampire_Slayer_and_Angel"
              target="_blank"
              rel="noopener noreferrer">Buffy Fandom</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Buffy_the_Vampire_Slayer"
              target="_blank"
              rel="noopener noreferrer">Buffy Wikipedia</a></li>
          </ul>
        </nav>
        
        <div class="glitch-wrapper" id="maintitle">
          <div class="glitch" data-text="INTO THE BUFFYVERSE">INTO THE BUFFYVERSE</div>
        </div>
        <div class="episodestitlecontainer">
            <h3 id="pretitle"></h3>
            <h3 id="title"></h3>
        </div>
        
        


      </div>
        <img
          class="logo"
          src="https://seeklogo.com/images/B/Buffy_the_Vampire_Slayer-logo-1E820809C0-seeklogo.com.png"
          alt="Buffy the Vampire Slayer Logo"
        />
      <div class="viewport">
        <div class="scene3D-container">
          <div id="scene3D" class="scene3D"></div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div id="navbuttons" class="navbuttons">
          <button class="raise" onmousedown="scrollUp()">Scroll Backwards (&lt;-)</button>
          <button class="raise" onmousedown="scrollDown()">Scroll Forwards (-&gt;)</button>
          <button class="raise" onmousedown="scrollToBack()">Scroll to Beginning (-)</button>
          <button class="raise" onmousedown="scrollToFront()">Scroll to End (=)</button>
          <button class="raise" onmousedown="scrollBackSeason()">Backwards a Season ([)</button>
          <button class="raise" onmousedown="scrollForwardSeason()">Forwards a Season (])</button>
          <button class="raise" id="autoscroll" onclick="pageScrollBy()">Start Auto Scroll (,)</button>
          <button class="raise" onclick="stopScrollBy()">Stop Auto Scroll (.)</button>
      </div>
      <div id="stringbottom">
        <p>This is an educational project for the MAKERS Software Development bootcamp by the Kitten Poker Team (July 2022)</p>
      </div>
      {{!-- <div class="audio-container">
        <audio controls autoplay class="audio-player">
          <source src="/sounds/Buffy_The_Vampire_Slayer_1.mp3" type="audio/mpeg" />
        </audio>
      </div> --}}
    </footer>
    <script>
      window.onkeydown = keyShortcut; 
      window.onscroll = () => { 
        updateCardTitleBar();
        cullDistantCards(); 
        };
      setTimeout(scrollToBack, 800);
    </script>
  </body>
</html>
