@import url("https://fonts.googleapis.com/css2?family=Babylonica&family=Ruthie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster");
@import url("https://fonts.googleapis.com/css2?family=Merriweather");
@import url("https://fonts.googleapis.com/css2?family=Inspiration");
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC:900");
:root {
  --scenePerspective: 1;
  --scenePerspectiveOriginX: 50;
  --scenePerspectiveOriginY: 30;
  --itemZ: 2;
  --cameraSpeed: 150;
  --cameraZ: 0;
  --viewportHeight: 0;
}

/* Set 3D scene */
.viewport {
  height: calc(var(--viewportHeight) * 1px);
}
.viewport .scene3D-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
  perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc(var(--scenePerspectiveOriginY) * 1%);
  will-change: perspective-origin;
  transform: translate3d(0, 0, 0);
}
.viewport .scene3D-container .scene3D {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--cameraZ) * 1px));
  will-change: transform;
}
.viewport .scene3D-container .scene3D > div {
  position: absolute;
  display: block;
  width: 100%;
  top: 40%;
}
@media only screen and (min-width: 600px) {
  .viewport .scene3D-container .scene3D > div {
    width: 45%;
  }
}
.viewport .scene3D-container .scene3D > div:nth-child(2n) {
  left: 0;
}
.viewport .scene3D-container .scene3D > div:nth-child(2n+1) {
  right: 0;
}
.viewport .scene3D-container .scene3D > div:nth-child(0) {
  transform: translate3D(5%, 36%, calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(1) {
  transform: translate3D(-5%, 3%, calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(2) {
  transform: translate3D(7%, 27%, calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(3) {
  transform: translate3D(-3%, 24%, calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(4) {
  transform: translate3D(10%, 4%, calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(5) {
  transform: translate3D(-14%, 49%, calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(6) {
  transform: translate3D(-11%, -35%, calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(7) {
  transform: translate3D(-14%, 26%, calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(8) {
  transform: translate3D(25%, 28%, calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(9) {
  transform: translate3D(3%, 30%, calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(10) {
  transform: translate3D(2%, 19%, calc(var(--itemZ) * var(--cameraSpeed) * 10 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(11) {
  transform: translate3D(-21%, 40%, calc(var(--itemZ) * var(--cameraSpeed) * 11 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(12) {
  transform: translate3D(-2%, -36%, calc(var(--itemZ) * var(--cameraSpeed) * 12 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(13) {
  transform: translate3D(-22%, -4%, calc(var(--itemZ) * var(--cameraSpeed) * 13 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(14) {
  transform: translate3D(6%, -37%, calc(var(--itemZ) * var(--cameraSpeed) * 14 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(15) {
  transform: translate3D(-13%, 3%, calc(var(--itemZ) * var(--cameraSpeed) * 15 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(16) {
  transform: translate3D(21%, -8%, calc(var(--itemZ) * var(--cameraSpeed) * 16 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(17) {
  transform: translate3D(-19%, 13%, calc(var(--itemZ) * var(--cameraSpeed) * 17 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(18) {
  transform: translate3D(-4%, 27%, calc(var(--itemZ) * var(--cameraSpeed) * 18 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(19) {
  transform: translate3D(3%, 14%, calc(var(--itemZ) * var(--cameraSpeed) * 19 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(20) {
  transform: translate3D(-2%, -26%, calc(var(--itemZ) * var(--cameraSpeed) * 20 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(21) {
  transform: translate3D(1%, -40%, calc(var(--itemZ) * var(--cameraSpeed) * 21 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(22) {
  transform: translate3D(18%, 25%, calc(var(--itemZ) * var(--cameraSpeed) * 22 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(23) {
  transform: translate3D(1%, -15%, calc(var(--itemZ) * var(--cameraSpeed) * 23 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(24) {
  transform: translate3D(-1%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 24 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(25) {
  transform: translate3D(-15%, 40%, calc(var(--itemZ) * var(--cameraSpeed) * 25 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(26) {
  transform: translate3D(-23%, 28%, calc(var(--itemZ) * var(--cameraSpeed) * 26 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(27) {
  transform: translate3D(3%, -14%, calc(var(--itemZ) * var(--cameraSpeed) * 27 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(28) {
  transform: translate3D(-9%, -29%, calc(var(--itemZ) * var(--cameraSpeed) * 28 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(29) {
  transform: translate3D(14%, -19%, calc(var(--itemZ) * var(--cameraSpeed) * 29 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(30) {
  transform: translate3D(-22%, -4%, calc(var(--itemZ) * var(--cameraSpeed) * 30 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(31) {
  transform: translate3D(16%, -21%, calc(var(--itemZ) * var(--cameraSpeed) * 31 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(32) {
  transform: translate3D(17%, 33%, calc(var(--itemZ) * var(--cameraSpeed) * 32 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(33) {
  transform: translate3D(24%, 13%, calc(var(--itemZ) * var(--cameraSpeed) * 33 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(34) {
  transform: translate3D(22%, -43%, calc(var(--itemZ) * var(--cameraSpeed) * 34 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(35) {
  transform: translate3D(7%, -42%, calc(var(--itemZ) * var(--cameraSpeed) * 35 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(36) {
  transform: translate3D(-2%, 16%, calc(var(--itemZ) * var(--cameraSpeed) * 36 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(37) {
  transform: translate3D(7%, 43%, calc(var(--itemZ) * var(--cameraSpeed) * 37 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(38) {
  transform: translate3D(9%, -29%, calc(var(--itemZ) * var(--cameraSpeed) * 38 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(39) {
  transform: translate3D(20%, 21%, calc(var(--itemZ) * var(--cameraSpeed) * 39 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(40) {
  transform: translate3D(-11%, -31%, calc(var(--itemZ) * var(--cameraSpeed) * 40 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(41) {
  transform: translate3D(8%, 34%, calc(var(--itemZ) * var(--cameraSpeed) * 41 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(42) {
  transform: translate3D(4%, -14%, calc(var(--itemZ) * var(--cameraSpeed) * 42 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(43) {
  transform: translate3D(-16%, 7%, calc(var(--itemZ) * var(--cameraSpeed) * 43 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(44) {
  transform: translate3D(9%, 33%, calc(var(--itemZ) * var(--cameraSpeed) * 44 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(45) {
  transform: translate3D(1%, 50%, calc(var(--itemZ) * var(--cameraSpeed) * 45 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(46) {
  transform: translate3D(-23%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 46 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(47) {
  transform: translate3D(13%, 49%, calc(var(--itemZ) * var(--cameraSpeed) * 47 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(48) {
  transform: translate3D(23%, 34%, calc(var(--itemZ) * var(--cameraSpeed) * 48 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(49) {
  transform: translate3D(-23%, 19%, calc(var(--itemZ) * var(--cameraSpeed) * 49 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(50) {
  transform: translate3D(24%, 38%, calc(var(--itemZ) * var(--cameraSpeed) * 50 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(51) {
  transform: translate3D(7%, -46%, calc(var(--itemZ) * var(--cameraSpeed) * 51 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(52) {
  transform: translate3D(17%, -29%, calc(var(--itemZ) * var(--cameraSpeed) * 52 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(53) {
  transform: translate3D(23%, 50%, calc(var(--itemZ) * var(--cameraSpeed) * 53 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(54) {
  transform: translate3D(-18%, -5%, calc(var(--itemZ) * var(--cameraSpeed) * 54 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(55) {
  transform: translate3D(-1%, -28%, calc(var(--itemZ) * var(--cameraSpeed) * 55 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(56) {
  transform: translate3D(-9%, 27%, calc(var(--itemZ) * var(--cameraSpeed) * 56 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(57) {
  transform: translate3D(18%, 12%, calc(var(--itemZ) * var(--cameraSpeed) * 57 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(58) {
  transform: translate3D(19%, -21%, calc(var(--itemZ) * var(--cameraSpeed) * 58 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(59) {
  transform: translate3D(15%, 1%, calc(var(--itemZ) * var(--cameraSpeed) * 59 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(60) {
  transform: translate3D(-14%, 22%, calc(var(--itemZ) * var(--cameraSpeed) * 60 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(61) {
  transform: translate3D(-23%, -34%, calc(var(--itemZ) * var(--cameraSpeed) * 61 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(62) {
  transform: translate3D(7%, 39%, calc(var(--itemZ) * var(--cameraSpeed) * 62 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(63) {
  transform: translate3D(-23%, 12%, calc(var(--itemZ) * var(--cameraSpeed) * 63 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(64) {
  transform: translate3D(-7%, -12%, calc(var(--itemZ) * var(--cameraSpeed) * 64 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(65) {
  transform: translate3D(-18%, -49%, calc(var(--itemZ) * var(--cameraSpeed) * 65 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(66) {
  transform: translate3D(10%, 31%, calc(var(--itemZ) * var(--cameraSpeed) * 66 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(67) {
  transform: translate3D(8%, -33%, calc(var(--itemZ) * var(--cameraSpeed) * 67 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(68) {
  transform: translate3D(5%, 30%, calc(var(--itemZ) * var(--cameraSpeed) * 68 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(69) {
  transform: translate3D(-15%, -9%, calc(var(--itemZ) * var(--cameraSpeed) * 69 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(70) {
  transform: translate3D(-13%, -6%, calc(var(--itemZ) * var(--cameraSpeed) * 70 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(71) {
  transform: translate3D(6%, 28%, calc(var(--itemZ) * var(--cameraSpeed) * 71 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(72) {
  transform: translate3D(25%, -24%, calc(var(--itemZ) * var(--cameraSpeed) * 72 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(73) {
  transform: translate3D(3%, 31%, calc(var(--itemZ) * var(--cameraSpeed) * 73 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(74) {
  transform: translate3D(-23%, -25%, calc(var(--itemZ) * var(--cameraSpeed) * 74 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(75) {
  transform: translate3D(14%, -36%, calc(var(--itemZ) * var(--cameraSpeed) * 75 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(76) {
  transform: translate3D(-13%, -12%, calc(var(--itemZ) * var(--cameraSpeed) * 76 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(77) {
  transform: translate3D(19%, 13%, calc(var(--itemZ) * var(--cameraSpeed) * 77 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(78) {
  transform: translate3D(22%, 5%, calc(var(--itemZ) * var(--cameraSpeed) * 78 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(79) {
  transform: translate3D(-15%, 42%, calc(var(--itemZ) * var(--cameraSpeed) * 79 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(80) {
  transform: translate3D(9%, 38%, calc(var(--itemZ) * var(--cameraSpeed) * 80 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(81) {
  transform: translate3D(-2%, -35%, calc(var(--itemZ) * var(--cameraSpeed) * 81 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(82) {
  transform: translate3D(21%, 23%, calc(var(--itemZ) * var(--cameraSpeed) * 82 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(83) {
  transform: translate3D(11%, 1%, calc(var(--itemZ) * var(--cameraSpeed) * 83 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(84) {
  transform: translate3D(-16%, 23%, calc(var(--itemZ) * var(--cameraSpeed) * 84 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(85) {
  transform: translate3D(-10%, 3%, calc(var(--itemZ) * var(--cameraSpeed) * 85 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(86) {
  transform: translate3D(-12%, 9%, calc(var(--itemZ) * var(--cameraSpeed) * 86 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(87) {
  transform: translate3D(14%, 30%, calc(var(--itemZ) * var(--cameraSpeed) * 87 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(88) {
  transform: translate3D(-20%, 18%, calc(var(--itemZ) * var(--cameraSpeed) * 88 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(89) {
  transform: translate3D(-19%, -13%, calc(var(--itemZ) * var(--cameraSpeed) * 89 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(90) {
  transform: translate3D(-5%, 14%, calc(var(--itemZ) * var(--cameraSpeed) * 90 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(91) {
  transform: translate3D(-9%, 46%, calc(var(--itemZ) * var(--cameraSpeed) * 91 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(92) {
  transform: translate3D(0%, 47%, calc(var(--itemZ) * var(--cameraSpeed) * 92 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(93) {
  transform: translate3D(24%, -6%, calc(var(--itemZ) * var(--cameraSpeed) * 93 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(94) {
  transform: translate3D(-4%, 0%, calc(var(--itemZ) * var(--cameraSpeed) * 94 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(95) {
  transform: translate3D(-6%, -10%, calc(var(--itemZ) * var(--cameraSpeed) * 95 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(96) {
  transform: translate3D(0%, -36%, calc(var(--itemZ) * var(--cameraSpeed) * 96 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(97) {
  transform: translate3D(11%, 50%, calc(var(--itemZ) * var(--cameraSpeed) * 97 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(98) {
  transform: translate3D(-10%, 18%, calc(var(--itemZ) * var(--cameraSpeed) * 98 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(99) {
  transform: translate3D(-1%, 36%, calc(var(--itemZ) * var(--cameraSpeed) * 99 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(100) {
  transform: translate3D(25%, -19%, calc(var(--itemZ) * var(--cameraSpeed) * 100 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(101) {
  transform: translate3D(13%, -4%, calc(var(--itemZ) * var(--cameraSpeed) * 101 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(102) {
  transform: translate3D(-4%, 41%, calc(var(--itemZ) * var(--cameraSpeed) * 102 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(103) {
  transform: translate3D(-14%, 42%, calc(var(--itemZ) * var(--cameraSpeed) * 103 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(104) {
  transform: translate3D(2%, -23%, calc(var(--itemZ) * var(--cameraSpeed) * 104 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(105) {
  transform: translate3D(-12%, -14%, calc(var(--itemZ) * var(--cameraSpeed) * 105 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(106) {
  transform: translate3D(-21%, -33%, calc(var(--itemZ) * var(--cameraSpeed) * 106 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(107) {
  transform: translate3D(-15%, -22%, calc(var(--itemZ) * var(--cameraSpeed) * 107 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(108) {
  transform: translate3D(-15%, 4%, calc(var(--itemZ) * var(--cameraSpeed) * 108 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(109) {
  transform: translate3D(16%, 10%, calc(var(--itemZ) * var(--cameraSpeed) * 109 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(110) {
  transform: translate3D(3%, 12%, calc(var(--itemZ) * var(--cameraSpeed) * 110 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(111) {
  transform: translate3D(22%, 39%, calc(var(--itemZ) * var(--cameraSpeed) * 111 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(112) {
  transform: translate3D(-8%, -48%, calc(var(--itemZ) * var(--cameraSpeed) * 112 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(113) {
  transform: translate3D(-21%, 1%, calc(var(--itemZ) * var(--cameraSpeed) * 113 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(114) {
  transform: translate3D(-2%, -5%, calc(var(--itemZ) * var(--cameraSpeed) * 114 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(115) {
  transform: translate3D(-19%, 4%, calc(var(--itemZ) * var(--cameraSpeed) * 115 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(116) {
  transform: translate3D(18%, 18%, calc(var(--itemZ) * var(--cameraSpeed) * 116 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(117) {
  transform: translate3D(7%, 1%, calc(var(--itemZ) * var(--cameraSpeed) * 117 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(118) {
  transform: translate3D(0%, 43%, calc(var(--itemZ) * var(--cameraSpeed) * 118 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(119) {
  transform: translate3D(3%, 15%, calc(var(--itemZ) * var(--cameraSpeed) * 119 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(120) {
  transform: translate3D(-14%, -10%, calc(var(--itemZ) * var(--cameraSpeed) * 120 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(121) {
  transform: translate3D(20%, 45%, calc(var(--itemZ) * var(--cameraSpeed) * 121 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(122) {
  transform: translate3D(24%, -15%, calc(var(--itemZ) * var(--cameraSpeed) * 122 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(123) {
  transform: translate3D(6%, 12%, calc(var(--itemZ) * var(--cameraSpeed) * 123 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(124) {
  transform: translate3D(-20%, 5%, calc(var(--itemZ) * var(--cameraSpeed) * 124 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(125) {
  transform: translate3D(-17%, -1%, calc(var(--itemZ) * var(--cameraSpeed) * 125 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(126) {
  transform: translate3D(5%, -3%, calc(var(--itemZ) * var(--cameraSpeed) * 126 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(127) {
  transform: translate3D(18%, -2%, calc(var(--itemZ) * var(--cameraSpeed) * 127 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(128) {
  transform: translate3D(15%, 28%, calc(var(--itemZ) * var(--cameraSpeed) * 128 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(129) {
  transform: translate3D(13%, -22%, calc(var(--itemZ) * var(--cameraSpeed) * 129 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(130) {
  transform: translate3D(3%, -7%, calc(var(--itemZ) * var(--cameraSpeed) * 130 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(131) {
  transform: translate3D(4%, 10%, calc(var(--itemZ) * var(--cameraSpeed) * 131 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(132) {
  transform: translate3D(23%, -1%, calc(var(--itemZ) * var(--cameraSpeed) * 132 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(133) {
  transform: translate3D(-9%, -8%, calc(var(--itemZ) * var(--cameraSpeed) * 133 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(134) {
  transform: translate3D(-11%, 18%, calc(var(--itemZ) * var(--cameraSpeed) * 134 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(135) {
  transform: translate3D(10%, -2%, calc(var(--itemZ) * var(--cameraSpeed) * 135 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(136) {
  transform: translate3D(10%, -28%, calc(var(--itemZ) * var(--cameraSpeed) * 136 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(137) {
  transform: translate3D(-9%, -45%, calc(var(--itemZ) * var(--cameraSpeed) * 137 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(138) {
  transform: translate3D(19%, 48%, calc(var(--itemZ) * var(--cameraSpeed) * 138 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(139) {
  transform: translate3D(8%, -18%, calc(var(--itemZ) * var(--cameraSpeed) * 139 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(140) {
  transform: translate3D(9%, -1%, calc(var(--itemZ) * var(--cameraSpeed) * 140 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(141) {
  transform: translate3D(-22%, 41%, calc(var(--itemZ) * var(--cameraSpeed) * 141 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(142) {
  transform: translate3D(18%, -49%, calc(var(--itemZ) * var(--cameraSpeed) * 142 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(143) {
  transform: translate3D(-19%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 143 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(144) {
  transform: translate3D(-24%, -25%, calc(var(--itemZ) * var(--cameraSpeed) * 144 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(145) {
  transform: translate3D(23%, 42%, calc(var(--itemZ) * var(--cameraSpeed) * 145 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(146) {
  transform: translate3D(-12%, 36%, calc(var(--itemZ) * var(--cameraSpeed) * 146 * -1px));
}

/* ----------
    // Styling
    // ---------- */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgb(50, 50, 93) 35%, rgb(38, 34, 34) 100%);
  color: hsl(231deg, 15%, 18%);
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(0deg, #540000, #280000, #000823, #540000);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  height: 100vh;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 100%);
  margin: 0;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  text-align: center;
}
h1 .logo {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}

.link {
  color: hsl(0deg, 0%, 100%);
  margin: 0;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.scene3D > div .card {
  width: 800px;
  height: 400px;
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}
.scene3D > div .card_left {
  width: 40%;
  height: 400px;
  float: left;
  overflow: hidden;
  background: transparent;
}
.scene3D > div .card_left img {
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.scene3D > div .card_right {
  width: 60%;
  float: left;
  background: #000000;
  height: 400px;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
}
.scene3D > div .card_right h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  margin: 50px 10px 40px 0;
  padding: 0 0 0 20px;
  letter-spacing: 1px;
}
.scene3D > div .card_right__details ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
}
.scene3D > div .card_right__details ul li {
  display: inline;
  color: #e3e3e3;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px 0 0;
}
.scene3D > div .card_right__rating__stars {
  position: relative;
  right: 160px;
  margin: 10px 0 10px 0;
  /***** CSS Magic to Highlight Stars on Hover *****/
  /* hover previous stars in list */
}
.scene3D > div .card_right__rating__stars fieldset,
.scene3D > div .card_right__rating__stars label {
  margin: 0;
  padding: 0;
}
.scene3D > div .card_right__rating__stars .rating {
  border: none;
}
.scene3D > div .card_right__rating__stars .rating > input {
  display: none;
}
.scene3D > div .card_right__rating__stars .rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  content: "\f005";
  font-family: FontAwesome;
}
.scene3D > div .card_right__rating__stars .rating > .half:before {
  content: "\f089";
  position: absolute;
}
.scene3D > div .card_right__rating__stars .rating > label {
  color: #ddd;
  float: right;
}
.scene3D > div .card_right__rating__stars .rating > input:checked ~ label,
.scene3D > div .card_right__rating__stars .rating:not(:checked) > label:hover,
.scene3D > div .card_right__rating__stars .rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}
.scene3D > div .card_right__rating__stars .rating > input:checked + label:hover,
.scene3D > div .card_right__rating__stars .rating > input:checked ~ label:hover,
.scene3D > div .card_right__rating__stars .rating > label:hover ~ input:checked ~ label,
.scene3D > div .card_right__rating__stars .rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}
.scene3D > div .card_right__review p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}
.scene3D > div .card_right__review a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 0 0 0 40px;
  color: #ff2f00;
  margin: 0;
}
.scene3D > div .card_right__button {
  padding: 0 0 0 40px;
  margin: 30px 0 0 0;
}
.scene3D > div .card_right__button a {
  color: #ffda00;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #ffda00;
  padding: 10px 10px 10px 40px;
  font-size: 12px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.5s;
}
.scene3D > div .card_right__button a:hover {
  color: #000000;
  background-color: #ffda00;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}
.scene3D > div .card_inverted {
  width: 800px;
  height: 400px;
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}
.scene3D > div .card_inverted_right {
  width: 40%;
  height: 400px;
  float: left;
  overflow: hidden;
  background: transparent;
}
.scene3D > div .card_inverted_right img {
  width: auto;
  height: 400px;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  position: relative;
  overflow: hidden;
}
.scene3D > div .card_inverted_left {
  width: 60%;
  float: left;
  background: #000000;
  height: 400px;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
}
.scene3D > div .card_inverted_left h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  margin: 50px 10px 40px 0;
  padding: 0 0 0 20px;
  letter-spacing: 1px;
}
.scene3D > div .card_inverted_left__details ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
}
.scene3D > div .card_inverted_left__details ul li {
  display: inline;
  color: #e3e3e3;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px 0 0;
}
.scene3D > div .card_inverted_left__rating__stars {
  position: relative;
  right: 160px;
  margin: 10px 0 10px 0;
  /***** CSS Magic to Highlight Stars on Hover *****/
  /* hover previous stars in list */
}
.scene3D > div .card_inverted_left__rating__stars fieldset,
.scene3D > div .card_inverted_left__rating__stars label {
  margin: 0;
  padding: 0;
}
.scene3D > div .card_inverted_left__rating__stars .rating {
  border: none;
}
.scene3D > div .card_inverted_left__rating__stars .rating > input {
  display: none;
}
.scene3D > div .card_inverted_left__rating__stars .rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  content: "\f005";
  font-family: FontAwesome;
}
.scene3D > div .card_inverted_left__rating__stars .rating > .half:before {
  content: "\f089";
  position: absolute;
}
.scene3D > div .card_inverted_left__rating__stars .rating > label {
  color: #ddd;
  float: right;
}
.scene3D > div .card_inverted_left__rating__stars .rating > input:checked ~ label,
.scene3D > div .card_inverted_left__rating__stars .rating:not(:checked) > label:hover,
.scene3D > div .card_inverted_left__rating__stars .rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}
.scene3D > div .card_inverted_left__rating__stars .rating > input:checked + label:hover,
.scene3D > div .card_inverted_left__rating__stars .rating > input:checked ~ label:hover,
.scene3D > div .card_inverted_left__rating__stars .rating > label:hover ~ input:checked ~ label,
.scene3D > div .card_inverted_left__rating__stars .rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}
.scene3D > div .card_inverted_left__review p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}
.scene3D > div .card_inverted_left__review a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 0 0 0 40px;
  color: #ff2f00;
  margin: 0;
}
.scene3D > div .card_inverted_left__button {
  padding: 0 0 0 40px;
  margin: 30px 0 0 0;
}
.scene3D > div .card_inverted_left__button a {
  color: #ffda00;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #ffda00;
  padding: 10px 10px 10px 40px;
  font-size: 12px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.5s;
}
.scene3D > div .card_inverted_left__button a:hover {
  color: #000000;
  background-color: #ffda00;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}

html {
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.container {
  height: 100vh;
}

.navbar {
  position: fixed;
  margin-top: -9px;
  z-index: 2;
}

.navbar h3 {
  position: fixed;
  top: 0;
  margin-top: 30px;
  margin-left: 47px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Inspiration", cursive;
  font-size: 30px;
  color: #DF644A;
  white-space: nowrap;
  text-shadow: rgba(0, 0, 0, 0.2745098039) 2px 2px;
}

.logo p {
  font-family: "Lobster", cursive;
  color: #DF644A;
  font-size: 32.5px;
  text-shadow: 2px 2px #ff0000;
}

.dropdown {
  position: fixed;
  margin-top: 70px;
  top: 0;
  right: 0;
  margin-right: 15px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2745098039);
}

.dropdown p {
  font-family: "Merriweather", serif;
  color: #DF644A;
}

#menu:hover {
  cursor: pointer;
}

#search {
  background: url("images/searchicon.png") no-repeat left;
  color: #ffffff;
}

a:link {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */