@import url("https://fonts.googleapis.com/css2?family=Babylonica&family=Ruthie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster");
@import url("https://fonts.googleapis.com/css2?family=Merriweather");
@import url("https://fonts.googleapis.com/css2?family=Inspiration");
@import url("https://fonts.googleapis.com/css2?family=Estonia&family=IM+Fell+English:ital@1&display=swap");
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

:root {
  --scenePerspective: 1;
  --scenePerspectiveOriginX: 50;
  --scenePerspectiveOriginY: 30;
  --itemZ: 2;
  --cameraSpeed: 150; // Where 1 is the fastest
  --cameraZ: 0;
  --viewportHeight: 0;
}

/* Set 3D scene */

.viewport {
  height: calc(var(--viewportHeight) * 1px);

  .scene3D-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
    perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%)
      calc(var(--scenePerspectiveOriginY) * 1%);
    will-change: perspective-origin;
    transform: translate3d(0, 0, 0); //Allow Hardware-Accelerated CSS

    .scene3D {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 100%;
      transform-style: preserve-3d;
      transform: translateZ(calc(var(--cameraZ) * 1px));
      will-change: transform;

      > div {
        position: absolute;
        display: block;
        width: 100%;
        top: 35%;

        @media only screen and (min-width: 600px) {
          // width: 45%;
          width: 800px;
        }

        &:nth-child(2n) {
          left: 0;
          margin-left: 80px;
        }

        &:nth-child(2n + 1) {
          right: 0;
          margin-right: 80px;
        }

        @for $i from 0 through 146 {
          &:nth-child(#{$i}) {
            transform: translate3D(
              0,
              0,
              calc(var(--itemZ) * var(--cameraSpeed) * #{$i} * -1px)
            );
          }
        }

        // Original "randomly spaced" cards layout
        // @for $i from 0 through 146 {
        //     &:nth-child(#{$i}) {
        //         transform: translate3D(random(50) - 25 * 1%,
        //             random(100) - 50 * 1%,
        //             calc(var(--itemZ) * var(--cameraSpeed) * #{$i} * -1px));
        //     }
        // }
      }
    }
  }
}

// .scene3D {
//     // height: 100vh;
//     overflow-y: scroll;
//     scroll-snap-type: y mandatory;
// }
// .scene3D > div {
//     // height: 100%;
//     scroll-snap-align: start;
// }

/* ----------
    // Styling
    // ---------- */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC:900");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior: none;
  width: 100%;
}

html::-webkit-scrollbar {
  display: none;
  overscroll-behavior: none;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(50, 50, 93, 1) 35%,
    rgba(38, 34, 34, 1) 100%
  ); // background-color: hsl(231, 15%, 18%);
  color: hsl(231, 15%, 18%);
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(0deg, #540000, #280000, #000823, #540000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  margin: 0;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  text-align: center;

  .logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
  }
}

.link {
  color: hsl(0, 0%, 100%);
  margin: 0;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.scene3D {
  > div {
    // padding-top: 0;

    // h2.eventtitle {
    //     margin: 0;
    //     padding: 1rem;
    //     font-family: "Playfair Display SC", serif;
    //     font-size: 3.5rem;
    //     text-align: center;
    //     // background-color: rgb(131, 14, 14);
    //     color: white;
    //     font-family: 'Babylonica', cursive;
    //     font-weight: bolder;
    //     // font-family: 'Ruthie', cursive;
    //     background: rgb(98, 0, 0);
    //     background: linear-gradient(0deg, rgba(98, 0, 0, 1) 0%, rgba(101, 9, 9, 1) 50%, rgba(37, 0, 0, 1) 100%);
    // }

    // @for $i from 0 through 25 {
    //     &:nth-child(#{$i}) {
    //         // background-color: hsl(-30 + ($i * 30), 100%, 88%);
    //         background-color: rgb(32, 0, 0);
    //         color: white;
    //         margin: 0;
    //     }
    // }

    // div {
    //     padding: 2rem;
    // }

    // p {
    //     margin: 0;
    // }

    // a {
    //     text-decoration: none;
    // }

    .card {
      width: 800px;
      height: 400px;
      background: transparent;
      position: absolute;
      left: 0;
      right: 0;
      // margin: auto;
      top: 0;
      bottom: 0;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);

      &_left {
        width: 40%;
        height: 400px;
        float: left;
        overflow: hidden;
        background: transparent;

        img {
          // width: auto;
          // width: 100%;
          // height: 400px;
          border-radius: 10px 0 0 10px;
          -webkit-border-radius: 10px 0 0 10px;
          -moz-border-radius: 10px 0 0 10px;
          position: relative;
          overflow: hidden;

          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }

      &_right {
        width: 60%;
        float: left;
        // background: #000000;
        height: 400px;
        border-radius: 0 10px 10px 0;
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;

        h2 {
          color: white;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          text-align: center;
          font-size: 36px;
          margin: 40px 10px 40px 0;
          padding: 0 0 0 20px;
          letter-spacing: 1px;
        }

        &__details {
          ul {
            list-style-type: none;
            padding: 0 0 0 40px;
            margin: 10px 0 0 0;

            li {
              display: inline;
              color: #e3e3e3;
              font-family: "Montserrat", sans-serif;
              font-weight: 400;
              font-size: 14px;
              padding: 0 40px 0 0;
            }
          }
        }

        &__rating {
          &__stars {
            position: relative;
            right: 160px;
            margin: 10px 0 10px 0;

            fieldset,
            label {
              margin: 0;
              padding: 0;
            }

            .rating {
              border: none;
            }

            .rating > input {
              display: none;
            }

            .rating > label:before {
              margin: 5px;
              font-size: 1.25em;
              display: inline-block;
              content: "\f005";
              font-family: FontAwesome;
            }

            .rating > .half:before {
              content: "\f089";
              position: absolute;
            }

            .rating > label {
              color: #ddd;
              float: right;
            }

            /***** CSS Magic to Highlight Stars on Hover *****/

            .rating>input:checked~label,
            /* show gold star when clicked */
            .rating:not(:checked)>label:hover,
            /* hover current star */
            .rating:not(:checked)>label:hover~label {
              color: #ffd700;
            }

            /* hover previous stars in list */

            .rating>input:checked+label:hover,
            /* hover current star when changing rating */
            .rating>input:checked~label:hover,
            .rating>label:hover~input:checked~label,
            /* lighten current selection */
            .rating>input:checked~label:hover~label {
              color: #ffed85;
            }
          }
        }

        &__review {
          p {
            color: white;
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            padding: 0 40px 0 40px;
            letter-spacing: 1px;
            margin: 10px 0 10px 0;
            line-height: 20px;
          }

          a {
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            padding: 0 0 0 40px;
            color: #ff2f00;
            margin: 0;
          }
        }

        &__button {
          a {
            color: #ffda00;
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            border: 2px solid #ffda00;
            padding: 10px 10px 10px 40px;
            font-size: 12px;
            background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
            background-size: 12px 12px;
            background-repeat: no-repeat;
            background-position: 7% 50%;
            border-radius: 5px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
          }

          a:hover {
            color: #000000;
            background-color: #ffda00;
            background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
            background-size: 12px 12px;
            background-repeat: no-repeat;
            background-position: 10% 50%;
            cursor: pointer;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
          }

          padding: 0 0 0 40px;
          margin: 30px 0 0 0;
        }
      }
    }

    .card_inverted {
      width: 800px;
      // height: 400px;
      background: transparent;
      position: absolute;
      left: 0;
      right: 0;
      // margin: auto;
      top: 0;
      bottom: 0;
      // border-radius: 10px;
      // -webkit-border-radius: 10px;
      // -moz-border-radius: 10px;
      // box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);

      &_right {
        width: 40%;
        height: 400px;
        float: left;
        overflow: hidden;
        background: transparent;

        img {
          width: auto;
          height: 400px;
          border-radius: 10px 0 0 10px;
          -webkit-border-radius: 10px 0 0 10px;
          -moz-border-radius: 10px 0 0 10px;
          position: relative;
          overflow: hidden;
        }
      }

      &_left {
        width: 60%;
        float: left;
        // background: #000000;
        height: 400px;
        border-radius: 0 10px 10px 0;
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;

        h2 {
          color: white;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          text-align: center;
          font-size: 36px;
          margin: 50px 10px 40px 0;
          padding: 0 0 0 20px;
          letter-spacing: 1px;
        }

        &__details {
          ul {
            list-style-type: none;
            padding: 0 0 0 40px;
            margin: 10px 0 0 0;

            li {
              display: inline;
              color: #e3e3e3;
              font-family: "Montserrat", sans-serif;
              font-weight: 400;
              font-size: 14px;
              padding: 0 40px 0 0;
            }
          }
        }

        &__rating {
          &__stars {
            position: relative;
            right: 160px;
            margin: 10px 0 10px 0;

            fieldset,
            label {
              margin: 0;
              padding: 0;
            }

            .rating {
              border: none;
            }

            .rating > input {
              display: none;
            }

            .rating > label:before {
              margin: 5px;
              font-size: 1.25em;
              display: inline-block;
              content: "\f005";
              font-family: FontAwesome;
            }

            .rating > .half:before {
              content: "\f089";
              position: absolute;
            }

            .rating > label {
              color: #ddd;
              float: right;
            }

            /***** CSS Magic to Highlight Stars on Hover *****/

            .rating>input:checked~label,
            /* show gold star when clicked */
            .rating:not(:checked)>label:hover,
            /* hover current star */
            .rating:not(:checked)>label:hover~label {
              color: #ffd700;
            }

            /* hover previous stars in list */

            .rating>input:checked+label:hover,
            /* hover current star when changing rating */
            .rating>input:checked~label:hover,
            .rating>label:hover~input:checked~label,
            /* lighten current selection */
            .rating>input:checked~label:hover~label {
              color: #ffed85;
            }
          }
        }

        &__review {
          p {
            color: white;
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            padding: 0 40px 0 40px;
            letter-spacing: 1px;
            margin: 10px 0 10px 0;
            line-height: 20px;
          }

          a {
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            padding: 0 0 0 40px;
            color: #ff2f00;
            margin: 0;
          }
        }

        &__button {
          a {
            color: #ffda00;
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            border: 2px solid #ffda00;
            padding: 10px 10px 10px 40px;
            font-size: 12px;
            background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
            background-size: 12px 12px;
            background-repeat: no-repeat;
            background-position: 7% 50%;
            border-radius: 5px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
          }

          a:hover {
            color: #000000;
            background-color: #ffda00;
            background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
            background-size: 12px 12px;
            background-repeat: no-repeat;
            background-position: 10% 50%;
            cursor: pointer;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
          }

          padding: 0 0 0 40px;
          margin: 30px 0 0 0;
        }
      }
    }
  }
}

.container {
  // position: fixed;
  // top: 0;
  height: 100vh;
}

.container {
  // position: fixed;
  // top: 0;
  height: 100vh;
}

.navbar {
  width: 100%;
  position: fixed;
  margin-top: -9px;
  z-index: 2;
}

.navbar h3 {
  position: fixed;
  top: 0;
  margin-top: 30px;
  margin-left: 47px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Estonia", cursive;
  font-size: 70px;
  color: #df644a;
  white-space: nowrap;
  text-shadow: #00000046 2px 2px;
}

.logo p {
  font-family: "Lobster", cursive;
  color: #df644a;
  font-size: 32.5px;
  text-shadow: 2px 2px #ff0000;
}

.dropdown {
  position: fixed;
  margin-top: 70px;
  padding-left: 12px;
  padding-right: 12px;
  top: 0;
  right: 0;
  margin-right: 15px;
  z-index: 1;
  background-color: #00000046;
}

.dropdown p {
  font-family: "Lobster", cursive;
  font-size: 23px;
  color: #df644a;
}

.dropdown a {
  font-family: "Lobster", cursive;
  font-size: 23px;
  color: #df644a;
}

.roadmap {
  font-family: "Lobster", cursive;
  font-size: 30px;
  color: #df644a;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.character {
  font-family: "Lobster", cursive;
  font-size: 25px;
  color: #df644a;
  margin-top: 25px;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buffy {
  margin-left: 15px;
}

#menu:hover {
  cursor: pointer;
}

button {
  color: #df644a;
  background-color: #000000;
  border-color: #df644a;
}

.navbuttons {
  padding-top: 0.95%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

// audio {
//   filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
//   width: 200px;
//   height: 25px;
//   bottom: 5px;;
//   right: 50px;
// }

.audio-container {
  width: 100%;
  position: absolute;
  float: right;
}

// .audio-player {
//   float: right;
// }

footer {
  width: 100%;
  position: absolute;

}

.about {
  color: #df644a;
  font-family: "Lobster", cursive;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  margin-left: 100px;
  padding-top: 150px;
  width: 1000px; 
  padding: 50px;
  margin-top: 20px;
}

.kitten-logo{
  float: right;
  margin-right: 380px;
  margin-top: -100px;
}

#navmenu:hover {
  cursor: pointer;
}

#navmenu:hover {
  cursor: pointer;
}

#search {
  background: url("images/searchicon.png") no-repeat left;
  color: #ffffff;
}

a:link {
  color: #df644a;
}

a:visited {
  color: #863c2c;
}
